<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="/static/user/css/annyang.css">
  <script src="/static/user/js/min_annyang_v2.5.0.js"></script>
  <script>
	var commands = {
		'다음*val' : function() {
			location.href = "./b";
		},
    '앞*val' : function() {
			location.href = "./b";
		},
    '넥스트*val' : function() {
			location.href = "./b";
		},
    '뒤로*val' : function() {
			alert("시작 페이지 입니다.");
		},
    '뒷*val' : function() {
			alert("시작 페이지 입니다.");
		},
    '백*val' : function() {
			alert("시작 페이지 입니다.");
		},
    '메인*val' : function() {
			location.href = "./";
		}
	}
	annyang.addCommands(commands);
  annyang.start({autoRestart: false, continuous: true});
  </script>
</head>
 <body>
  <div>
  <div id="btn_off">
    뒤로
  </div>
  <div id="btn_on" onclick="location.href = './b';">
    다음
  </div>
  <div id = "btn_on" onclick="location.href = './';">
    메인
  </div>
</div>
   <div id="page_info">
      A
   </div>
<div id="rec_btn" onclick="annyang.start({autoRestart: false, continuous: true})">
record
</div>
</body>
</html>
