<!DOCTYPE html>
<html>
  <head>
    <title>Speech Recognition for Nivigation_sub page</title>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Speech Recognition, normalstory, chanwoo, service design, mobile, VUI, chatbot" />

    <link rel="stylesheet" type="text/css" href="/static/user/css/annyang.css">
    <script src="/static/user/js/min_annyang_v2.5.0.js"></script>
    <script src="/static/user/js/set_b.js"></script>
  </head>

<body class="" id="grid">
    <div>
      <div id="btn_off" onclick="location.href = './';">Main</div>
      <div id="btn_off" onclick="location.href = './a';">A</div>
      <div id="btn_on">B</div>
      <div id="btn_off" onclick="location.href = './c';">C</div>
    </div>
    <div id="page_info">B</div>
    <div id="rec_btn" onclick="annyang.start({autoRestart: false, continuous: true})">record</div>
</body>
</html>
